@charset "uft-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
/* font-family: "Noto Sans KR", sans-serif; */
@font-face {
  font-family: "FuturaStdBook";
  src: url(../webfonts/FuturaStdBook.woff) format("woff");
}
/* font-family: "FuturaStdBookR", sans-serif; */
@font-face {
  font-family: "FuturaStdMedium";
  src: url(../webfonts/FuturaStdMedium.woff) format("woff");
}
/* font-family: "FuturaStdMedium", sans-serif; */
@font-face {
  font-family: "FuturaStdHeavy";
  src: url(../webfonts/FuturaStdHeavy.woff);
}
/* font-family: "FuturaStdHeavy", sans-serif; */
@font-face {
  font-family: "blanc";
  src: url(../webfonts/blanc.woff2) format("woff2");
}
/* font-family: "blanc", sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
  white-space: nowrap;
  text-transform: uppercase;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  letter-spacing: -0.5px;
}

/* header(fixed) */

header {
  position: fixed;
  height: 120px;
  width: 100%;
  top: 0;
  text-align: center;
  background-color: transparent;
  z-index: 100;
  letter-spacing: 0;
}
header .head {
  width: 90%;
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .head .logo a {
  display: block;
  background: url(../images/logowhite.png) center/cover no-repeat;
  width: 212px;
  height: 27px;
  transition: 0.3s ease-out;
}
header .head .logo a.on {
  background: url(../images/logoblack.png) center/cover no-repeat;
}
header .head .gnb .dep1 {
  display: flex;
  justify-content: space-between;
}
header .head .gnb .dep1 > li {
  position: relative;
}
header .head .gnb .dep1 > li:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 0;
  margin: auto;
  height: 2px;
  background-color: #000;
  transition: 0.35s;
}
header .head .gnb .dep1 > li:hover::after {
  width: 90%;
}
header .head .gnb .dep1 > li > a {
  line-height: 120px;
  padding: 0 25px;
  font-size: 18px;
  color: #fff;
  transition: 0.3s ease-out;
}
header .head .gnb .dep1 > li > a.on {
  color: #333;
}
header .head .gnb .dep1 > li > .dep2 {
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
  z-index: 9000;
}
header .head .gnb .dep1 > li > .dep2 li {
  line-height: 32px;
}
header .head .gnb .dep1 > li .dep2 li:first-child {
  margin-top: 16px;
}
header .head .gnb .dep1 > li .dep2 li a {
  font-size: 14px;
  color: #262626;
  font-weight: 500;
  opacity: 0;
  transition: 0.3s;
}
header .head .gnb .bgWhite {
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
  height: 0;
  z-index: 1010;
  transition: 0.3s;
}
header .head .gnb:hover .dep1 ~ .bgWhite {
  height: 210px;
  background: #fff;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
header .head .gnb:hover .dep1 > li .dep2 li a {
  opacity: 1;
}
header .head .tel {
  position: absolute;
  right: calc(6.3% + 60px);
  width: 215px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  align-items: center;
  cursor: pointer;
}
header .head .tel .tel1 {
  font-family: "FuturaStdMedium", sans-serif;
  font-size: 12px;
  padding-right: 65px;
}
header .head .tel .tel2 {
  font-family: "FuturaStdMedium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-right: 65px;
  display: none;
}
header .head .tel .telBg {
  position: absolute;
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  background-color: #fff;
  border-radius: 50px;
  transition: 0.3s ease-out;
}
header .head .tel .telBg div {
  background: url(../images/telblack.png) center no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
}
header .head .tel .telBg div.on {
  background: url(../images/telwhite.png) center no-repeat;
}
header .head .blank {
  width: 215px;
  height: 100%;
}

/* headRight */

.headRight {
  position: fixed;
  width: 50px;
  height: 120px;
  right: 6.3%;
  top: 0;
  z-index: 9999;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  transition: 0.3s ease-out;
}
.headRight .hamberger {
  position: relative;
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}
.headRight .hamberger.black {
  border-color: #000;
}
.headRight .hamberger.on {
  border-color: #000;
  background-color: #f00;
}
.headRight .hamberger div {
  position: absolute;
  height: 1px;
  background-color: #fff;
}
.headRight .hamberger div.on {
  background-color: #000;
}
.headRight .hamberger .bar1 {
  left: 15px;
  top: 18px;
  width: 20px;
  transition: 0.3s ease-out;
}
.headRight .hamberger .bar2 {
  left: 23px;
  top: 50%;
  width: 12px;
  transition: 0.3s ease-out;
}
.headRight .hamberger .bar3 {
  left: 15px;
  bottom: 17px;
  width: 20px;
  transition: 0.3s ease-out;
}

/* hamNav(fixed) */

.hamNav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 9000;
  display: none;
}
.hamNav .dep1 {
  display: flex;
  height: 100%;
}
.hamNav .dep1 > li {
  width: 13.5%;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #dedede;
  z-index: 9001;
  position: relative;
}
.hamNav .dep1 > li:hover {
  background-color: #f1f1f1;
}
.hamNav .dep1 h2 {
  font-size: 22px;
  font-weight: 400;
  color: #191919;
  margin: 77px 40px 40px;
}
.hamNav .dep2 li {
  position: relative;
}
.hamNav .dep2 li:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #000;
  transition: 0.3s;
  z-index: 9001;
}
.hamNav .dep2 li:hover:after {
  width: 100%;
}
.hamNav .dep2 li a {
  position: relative;
  display: block;
  padding: 16px 40px;
  font-size: 16px;
  color: #000;
  letter-spacing: -0.5px;
  transition: 0.3s;
  z-index: 9002;
}
.hamNav .dep2 li:hover a {
  color: #fff;
}

/* main */

#fullpage {
  width: 100%;
  height: 100%;
}
.section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.section .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: scale1 9s 0s infinite;
}
@keyframes scale1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mainVideo iframe {
  position: absolute;
  width: 140%;
  height: 140%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* section0 */

#section0 .mainBg {
  position: absolute;
  background: url(../images/section0.jpg) bottom/cover no-repeat;
  left: 0;
  top: -200px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#section0 .shadow {
  position: absolute;
  background: url(../images/section1shadow.png) bottom/cover no-repeat;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#section0 .mainTxt {
  position: absolute;
  left: 20%;
  top: 18%;
  z-index: 3;
  color: #fff;
  text-align: center;
}
#section0 .mainTxt p {
  font-family: "blanc", sans-serif;
}
#section0 .mainTxt p:nth-of-type(1) {
  font-size: 21px;
}
#section0 .mainTxt .line {
  position: relative;
  width: 1.5px;
  height: 60px;
  margin: 30px auto 20px;
}
#section0 .mainTxt .line::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.7;
  z-index: 3;
}
#section0 .mainTxt p:nth-of-type(2) {
  font-size: 30px;
  line-height: 43px;
}
#section0 .mainTxt p:nth-of-type(3) {
  font-size: 24px;
  margin-top: 50px;
}
#section0 .whiteBox {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 290px;
  z-index: 4;
  background: #fff;
  display: flex;
  align-items: center;
}
#section0 .whiteBox .flex {
  display: flex;
  width: 90%;
  max-width: 1480px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
#section0 .whiteBox .flex .txtLeft p:first-child {
  font-size: 28px;
  font-family: "blanc", sans-serif;
}
#section0 .whiteBox .flex .txtLeft p:last-child {
  font-size: 14px;
  margin-top: 25px;
  line-height: 25px;
  opacity: 0.7;
}
#section0 .whiteBox .flex .txtRight {
  display: flex;
  align-items: center;
  height: 100%;
}
#section0 .whiteBox .flex .txtRight p:first-child {
  font-size: 21px;
  font-family: "blanc", sans-serif;
  padding-right: 20px;
  line-height: 100%;
  position: relative;
}
#section0 .whiteBox .flex .txtRight p:first-child:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 85%;
  background: #000;
  z-index: 5;
}
#section0 .whiteBox .flex .txtRight p:last-child {
  font-size: 34px;
  font-family: "FuturaStdBook", sans-serif;
  margin-left: 20px;
  letter-spacing: 2.5px;
}
#section0 .whiteBox .flex .txtRight p:last-child span {
  font-family: "FuturaStdBook", sans-serif;
  letter-spacing: -2px;
}

/* section1 */

#section1 .bg {
  background: url(../images/section1.jpg);
}
#section1 .mainTxt {
  width: 90%;
  max-width: 1480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  top: 200px;
  height: calc(100vh - 200px);
}
#section1 .mainTxt .txtTop h1 {
  font-size: 52px;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 60px;
  letter-spacing: -4px;
}
#section1 .mainTxt .txtTop p {
  font-size: 15px;
  opacity: 0.8;
  line-height: 200%;
  margin-top: 45px;
}
#section1 .mainTxt .txtBot {
  display: flex;
  justify-content: flex-end;
  margin-top: 200px;
}
#section1 .mainTxt .txtBot div {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  gap: 6px;
  position: relative;
}
#section1 .mainTxt .txtBot div:nth-child(3) {
  padding-right: 0;
}
#section1 .mainTxt .txtBot div p {
  font-size: 15px;
  margin-left: 4px;
  line-height: 100%;
}
#section1 .mainTxt .txtBot div h1 {
  font-size: 108px;
  font-family: "FuturaStdHeavy", sans-serif;
  line-height: 100%;
  letter-spacing: 2px;
}
#section1 .mainTxt .txtBot div:nth-child(1) h1,
#section1 .mainTxt .txtBot div:nth-child(3) h1 {
  color: transparent;
  -webkit-text-stroke: 0.8px #000;
}
#section1 .mainTxt .txtBot div:nth-child(1):after,
#section1 .mainTxt .txtBot div:nth-child(2):after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 36px;
  width: 1px;
  height: 40px;
  background: #000;
  opacity: 0.3;
}

/* section2 */

#section2 .bg {
  background: url(../images/section2.jpg) bottom/cover no-repeat;
}
#section2 .mainBox {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  height: calc(100vh - 180px);
  display: flex;
  position: relative;
  z-index: 1;
  color: #fff;
  top: 180px;
  mix-blend-mode: screen;
}
#section2 .mainBox .mainLeft {
  flex: 1 1 55%;
}
#section2 .mainBox .mainLeft h1 {
  font-size: 68px;
  font-family: "FuturaStdHeavy", sans-serif;
  font-weight: 600;
  line-height: 115%;
  letter-spacing: 0;
}
#section2 .mainBox .mainLeft p {
  opacity: 0.5;
  font-weight: 300;
  line-height: 220%;
  margin-top: 45px;
  text-transform: none;
}
#section2 .mainBox .mainRight {
  flex: 1 1 45%;
  display: flex;
  justify-content: space-between;
}
#section2 .mainBox .mainRight .col1 p:nth-child(1) {
  margin: 160px 0 30px;
}
#section2 .mainBox .mainRight .col1 p:nth-child(2) {
  margin-bottom: 60px;
}
#section2 .mainBox .mainRight .col2 > p {
  display: flex;
  justify-content: flex-end;
  margin: 110px 0 90px;
}
#section2 .mainBox .mainRight .col2 div {
  display: flex;
  gap: 20px;
}
#section2 .mainBox .mainRight .col3 {
  display: flex;
  flex-direction: column;
}
#section2 .mainBox .mainRight .col3 p:first-child {
  line-height: 215%;
  margin-top: 20px;
}
#section2 .mainBox .mainRight .col3 p:last-child img {
  position: absolute;
  height: 557px;
  right: 0;
  bottom: 0;
}
#section2 .mainBox .mainRight img {
  mix-blend-mode: screen;
}

/* section3 */

#section3 {
  background: #fff;
}
#section3 .mainBox {
  width: 90%;
  max-width: 1480px;
  margin: 0 auto;
  height: calc(100vh - 160px);
  display: flex;
  position: relative;
  top: 160px;
}
#section3 .mainBox .mainLeft {
  position: relative;
  margin-top: 20px;
  z-index: 1;
}
#section3 .mainBox .mainLeft h1 {
  font-size: 85px;
  font-weight: 600;
  font-family: "FuturaStdHeavy", sans-serif;
  line-height: 100%;
}
#section3 .mainBox .mainLeft h4 {
  font-size: 20px;
  font-weight: 400;
  font-family: "FuturaStdMedium", sans-serif;
  line-height: 150%;
  margin: 40px 0 80px;
}
#section3 .mainBox .mainLeft strong {
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
}
#section3 .mainBox .mainLeft p {
  font-size: 14px;
  opacity: 0.7;
  line-height: 180%;
  margin-top: 25px;
}
#section3 .mainBox .mainRight {
  position: absolute;
  right: 0;
  display: flex;
  gap: 20px;
}
#section3 .mainBox .mainRight .flower p:first-child {
  margin-top: 30px;
}
#section3 .mainBox .mainRight .flower p:last-child {
  position: absolute;
  left: -190px;
  bottom: -50px;
}

/* section4 */

.videoBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  z-index: 1;
}
.videoBox .txtTop {
  margin-top: 200px;
}
.videoBox .txtBot {
  display: flex;
  align-items: flex-end;
  margin-bottom: 150px;
}
#section4 .mainBox .txtTop h3 {
  font-size: 32px;
  font-weight: 100;
  line-height: 100%;
}
#section4 .mainBox .txtTop h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 100%;
  margin-top: 5px;
}
#section4 .mainBox .txtTop p {
  font-size: 15px;
  opacity: 0.7;
  line-height: 200%;
  margin-top: 40px;
}

/* section5 */

#section5 {
  background: #fff;
}
#section5 .mainBox {
  display: flex;
}
#section5 .mainBox p {
  font-size: 0;
}
#section5 .mainBox .mainLeft {
  width: 42%;
}
#section5 .mainBox .mainLeft p {
  /* overflow: hidden; */
}
#section5 .mainBox .mainLeft p img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#section5 .mainBox .mainRight {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;
}
#section5 .mainBox .mainRight ul {
  display: flex;
  justify-content: space-between;
}
#section5 .mainBox .mainRight ul li h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 45px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ababab;
  box-sizing: border-box;
}
#section5 .mainBox .mainRight ul li h5 {
  font-size: 13px;
  font-weight: 400;
  line-height: 180%;
  opacity: 0.7;
  margin-top: 20px;
  text-transform: none;
}

/* section6 */

#section6 .mainBox .txtTop h3 {
  font-family: "blanc", sans-serif;
  font-size: 28px;
  font-weight: 100;
  line-height: 135%;
  margin-bottom: 40px;
}
#section6 .mainBox .txtTop p {
  font-size: 14px;
  line-height: 180%;
  opacity: 0.7;
  margin-bottom: 25px;
}

/* section7 */

#section7 {
  background: url(../images/section7.jpg) bottom/cover no-repeat;
  color: #fff;
}
#section7 .mainTxt {
  position: absolute;
  width: 90%;
  max-width: 1340px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#section7 .mainTxt .txtBox {
  transform: translateY(-20px);
}
#section7 .mainTxt .txtBox h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  text-align: left;
}
#section7 .mainTxt .txtBox h1 {
  font-size: 222px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 50px;
  text-align: center;
}
#section7 .mainTxt .txtBox p {
  font-size: 14px;
  line-height: 180%;
  text-align: right;
  margin-top: 15px;
}
#section7 .tower {
  background: url(../images/section7obj.png) bottom/cover no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* section8 */

#section8 {
  background: #fff;
}
.amenityWh {
  position: relative;
  width: 90%;
  max-width: 1480px;
  margin: 0 auto;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
}
#section8 .mainBox {
  justify-content: flex-end;
}
#section8 .mainBox .mainTxt {
  position: absolute;
  left: 0;
  height: 100%;
}
.amenityWh .mainTxt .txtBox h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  margin-top: 60px;
}
.amenityWh .mainTxt .txtBox h1 {
  font-size: 77px;
  font-weight: 600;
  line-height: 100%;
  font-family: "FuturaStdHeavy", sans-serif;
  margin: 15px 0 35px;
}
.amenityWh .mainTxt .txtBox p:nth-of-type(1) {
  font-size: 14px;
  line-height: 180%;
}
#section8 .mainTxt .txtBox p:nth-of-type(2) {
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
}
.amenityWh .mainImg p img {
  width: 100%;
  height: 100%;
}

/* section9 */

#section9 {
  background: #272727;
}
.amenityBl {
  position: relative;
  width: 90%;
  max-width: 1480px;
  margin: 0 auto;
  height: calc(100% - 230px);
  top: 230px;
  color: #fff;
  display: flex;
  gap: 5%;
}
.amenityBl .conWrap {
  position: relative;
}
.amenityBl h1 {
  font-size: 44px;
  font-weight: 600;
  font-family: "FuturaStdHeavy", sans-serif;
  line-height: 100%;
  margin-bottom: 20px;
}
.amenityBl h3 {
  font-size: 22px;
  font-weight: 400;
  font-family: "FuturaStdBook", sans-serif;
  line-height: 100%;
  margin: 45px 0 12px;
}
.amenityBl h3 span {
  font-family: "Noto Sans KR", sans-serif;
}
.amenityBl h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  opacity: 0.3;
}
.amenityBl strong {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
}
.amenityBl .con1 .titBox {
  padding-bottom: 105px;
}
.amenityBl .con2 {
  padding-top: 105px;
}

/* section10 */

#section10 {
  background: #fff;
}
#section10 .mainBox {
  position: relative;
  justify-content: flex-start;
}
#section10 .mainBox .mainTxt {
  position: absolute;
  right: 0;
  height: 100%;
  text-align: right;
}
#section10 .mainTxt .txtBox p:nth-of-type(2) {
  position: absolute;
  right: 50px;
  bottom: -80px;
}

/* section11 */

#section11 {
  background: #272727;
}

/* section12 */

#section12 {
  background: #fff;
}
#section12 .mainBox .mainTxt {
  display: flex;
  position: relative;
  width: 70%;
  max-width: 1480px;
  margin: 0 auto;
  height: calc(100vh - 320px);
  top: 180px;
  gap: 34%;
}
#section12 .mainBox .mainTxt .mainLeft h3 {
  font-size: 40px;
  font-weight: 100;
  line-height: 100%;
}
#section12 .mainBox .mainTxt .mainLeft h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 100%;
  margin: 10px 0 0 -5px;
}
#section12 .mainBox .mainTxt .mainLeft p {
  font-size: 14px;
  line-height: 180%;
  opacity: 0.7;
  margin-top: 45px;
}
#section12 .mainBox .mainTxt .mainRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#section12 .mainBox .mainTxt .mainRight > li {
  background: #fff;
}
#section12 .mainBox .mainTxt .mainRight > li h4 {
  padding: 6px 25px 6px 15px;
  color: #fff;
  font-size: 17px;
  font-family: "FuturaStdMedium", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
}
#section12 .mainBox .mainTxt .mainRight > li:nth-child(1) h4 {
  background-color: #008dbc;
}
#section12 .mainBox .mainTxt .mainRight > li:nth-child(2) h4 {
  background-color: #10ad9c;
}
#section12 .mainBox .mainTxt .mainRight > li:nth-child(3) h4 {
  background-color: #9494b7;
}
#section12 .mainBox .mainTxt .mainRight > li ul {
  padding: 5px 0 25px 15px;
}
#section12 .mainBox .mainTxt .mainRight > li ul li {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.8px;
  opacity: 0.9;
}

/* section13 */

#section13 {
  background: url(../images/section13.jpg) center/cover no-repeat;
}
.high {
  position: relative;
  margin: 0 auto;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
}
#section13 .high {
  width: 60%;
  max-width: 1480px;
  justify-content: flex-end;
  transform: translateY(-60px);
}
.high .flex {
  display: flex;
  flex-direction: column;
}
.high h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}
.high p {
  font-size: 14px;
  line-height: 180%;
  opacity: 0.7;
  margin-top: 35px;
}

/* section14 */

#section14 {
  background: url(../images/section14.jpg) center/cover no-repeat;
}
#section14 .high {
  width: 68%;
  max-width: 1480px;
  transform: translateY(-50px);
}

/* section15 */

#section15 .bg {
  background: url(../images/section15.jpg) center/cover no-repeat;
}
#section15 > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section15 .mainBox {
  position: relative;
  text-align: center;
  padding-top: 70px;
}
#section15 .mainBox a {
  color: #000;
  font-family: "Noto Sans KR", sans-serif;
}
#section15 .mainBox h1 {
  font-size: 55px;
  font-weight: 300;
  font-family: "FuturaStdBook", sans-serif;
  line-height: 100%;
}
#section15 .mainBox h2 a {
  font-size: 40px;
  font-weight: 400;
  font-family: "FuturaStdMedium", sans-serif;
  line-height: 100%;
  letter-spacing: 1px;
}
#section15 .mainBox h3 {
  font-size: 21px;
  font-weight: 400;
  font-family: "blanc", sans-serif;
  line-height: 100%;
  margin: 25px 0 20px;
}
#section15 .mainBox h4 {
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  opacity: 0.8;
  margin: 50px 0 12px;
}
#section15 .mainBox h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
}
#section15 .mainBox .map {
  margin-top: 40px;
}
#section15 .mainBox .map .mapLink {
  display: flex;
  justify-content: center;
  gap: 15px;
}
#section15 .mainBox .map .mapLink a {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* footer */

footer {
  padding: 60px 0 80px;
  background: #fff;
  color: #4f372b;
  text-align: center;
}
footer .up a {
  position: relative;
  width: 50px;
  height: 92px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
footer .up a .circle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  border: 1px solid #4f372b;
  border-radius: 50%;
  box-sizing: border-box;
}
footer .up a .arrow {
  position: relative;
  width: 13px;
  height: 70px;
}
footer .up a .arrow div {
  position: absolute;
  width: 1px;
  height: 70px;
  left: 50%;
  background: #4f372b;
}
footer .up a .arrow::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 2px;
  width: 8px;
  height: 8px;
  transform: translateX(-50%) rotate(-45deg);
  border-top: 1px solid #4f372b;
  border-right: 1px solid #4f372b;
}
footer .logo {
  margin-top: 70px;
}
footer .link {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 35px 0;
}
footer .link a {
  position: relative;
  width: 170px;
  height: 33px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #4f372b;
  border-radius: 50px;
}
footer .link a img {
  margin-left: 15px;
}
footer h6 {
  font-size: 12px;
  color: #4f372b;
  line-height: 100%;
}
footer .link a h6 {
  font-weight: 500;
}
footer .link a:nth-child(2) h6 {
  margin-left: 30px;
}
footer .link a span {
  position: absolute;
  display: block;
  right: 18px;
  width: 14px;
  height: 100%;
}
footer .link a span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #4f372b;
}
footer .link a span::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  border-right: 1px solid #4f372b;
  border-bottom: 1px solid #4f372b;
}
footer address {
  font-style: normal;
  display: flex;
  justify-content: center;
}
footer address p {
  font-size: 13px;
  line-height: 100%;
  text-transform: none;
}
footer address p:nth-child(1) {
  line-height: 20px;
  padding-right: 95px;
}
footer address p:nth-child(2) {
  position: relative;
  padding: 0 13px;
}
footer address p:nth-child(2):before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background: #ababab;
}
footer address p:nth-child(2):after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background: #ababab;
}
footer address p:nth-child(3) {
  padding-left: 13px;
}
footer address p a {
  position: relative;
}
footer address p a img {
  position: absolute;
  left: 7px;
}
footer .note {
  font-size: 13px;
  margin: 10px 0 40px;
  line-height: 180%;
}
footer h6:last-child {
  font-weight: normal;
  line-height: 100%;
}
